<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<style>
    body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }

</style>
<h2>Title: {{ book.title }}</h2>
<p>Content: {{ book.description }}</p>
<img src="{{ book.illusration.url }}" alt="">
<p>Quantity: {{ book.quantity }}</p>
<p>Genre: {{ book.genre }}</p>
<p>Created Date: {{ book.created_date }}</p>
<div>
    <h2>Comments:</h2>
    <ul>
        {% for i in book.books_comment.all %}
        <li>
            <p>{{ i.text }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>