<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<style>
    body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }

</style>
<h2>Title: {{ book.title }}</h2>
<p>Content: {{ book.description }}</p>
<img src="{{ book.illustration.url }}" alt="">
<p>Quantity: {{ book.quantity }}</p>
<p>Genre: {{ book.genre }}</p>
<p>Created Date: {{ book.created_date }}</p>
<div>
    <h2>Comments:</h2>
    <ul>
        {% for i in book.books_comment.all %}
        <li>
            <p>{{ i.text }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
<div>

    <button type="button" class="btn btn-secondary"><a href="/book/{{ book.id }}/delete/">Delete</a> </button>
</div>
</body>
</html>